In [14]:
import csv
import pandas as pd
import glob


files = ["../clean_data/Output/merged_0006_data.csv","../clean_data/Output/merged_0715_data.csv"]


df1 = pd.read_csv(files[0])
df2 = pd.read_csv(files[1])
del df2['description']

In [15]:
grand_daddy = pd.merge(df1,df2,on="NAICS Code")

In [17]:
# grand_daddy = grand_daddy.drop(columns=['Description_y'])
grand_daddy = grand_daddy.rename(columns = {"description":"Description"})
grand_daddy

,NAICS Code,Description,Employment_2000,Establishments_2000,Employment_2001,Establishments_2001,Employment_2002,Establishments_2002,Employment_2003,Establishments_2003,...,establishments_2011,employment_2011,establishments_2010,employment_2010,establishments_2009,employment_2009,establishments_2008,employment_2008,establishments_2007,employment_2007
0,442,Furniture and Home Furnishings Stores,"549,184","64,842","567,318","65,766","551,567","66,360","560,717","65,393",...,"52,703","424,221","54,929","429,172","57,478","449,836","61,735","533,096","65,485","596,538"
1,443,Electronics and Appliance Stores,"407,321","45,592","425,736","47,747","418,725","49,600","419,321","47,746",...,"49,068","434,297","48,305","411,516","48,489","448,946","49,173","464,927","52,470","500,780"
2,4451,Grocery Stores,"2,716,868","98,275","2,665,804","99,357","2,569,351","97,166","2,594,727","96,964",...,"93,282","2,542,436","92,164","2,526,781","90,259","2,561,669","89,054","2,570,754","92,315","2,564,533"
3,448,Clothing and Clothing Accessories Stores,"1,368,665","150,946","1,392,626","151,668","1,408,948","151,895","1,467,427","148,012",...,"148,084","1,659,696","147,614","1,528,512","150,205","1,535,923","155,578","1,648,150","155,371","1,648,157"

In [18]:
grand_daddy.to_csv("merged_all_data.csv", index = False)